@(order: Form[CreateOrderForm], users: Seq[Users], products: Seq[Product])(implicit request: MessagesRequestHeader)

@import helper._

@main("Add order") {
    @form(CSRF(routes.OrderController.addOrder())) {
        @inputText(order("orderAddress"))
        @inputText(order("orderCity"))
        @inputText(order("orderCountry"))
        <p>Which user made order?</p>
        <select name="userID" id="userID">
        @for(cat <- users){
            <option value="@cat.userID">@cat.firstName @cat.surname</option>
        }
        </select>
        <p>Choose delivery date</p>
        <select name="deliveryDate" id="deliveryDate">
            <option value="2019-06-06">2019-06-06</option>
            <option value="2019-06-07">2019-06-07</option>
        </select>

        @inputText(order("orderDetailTotalNetPrice"))
        @inputText(order("orderDetailTotalGrossPrice"))
        <p>Which product?</p>
        <select name="productID" id="productID">
        @for(cat2 <- products){
            <option value="@cat2.productID">@cat2.name @cat2.priceGross</option>
        }
        </select>
        <p>How many?</p>
        @inputText(order("productQuantity"))


        <div class="buttons">
            <input type="submit" value="Add Order"/>
        </div>
    }
}
